__pycache__/
*.pyc
*.o
.DS_Store
/dist/
/build/
*.deb
*.bundle
/backups/
/logs/
.env
.env.*
/payload/src/dwm/dwm
/payload/src/st/st
/payload/src/dmenu/dmenu
/payload/src/dmenu/stest
/payload/src/dwmblocks/dwmblocks
